.frame_header {
    Top: -9.55vh;
    width: 10vw;
    height: 9vh;
    position: absolute;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
}

.frame_header_text {
    grid-row: 2/3;
    width: 10vw;
    height: 6vh;

    color: #F2E5D6;
    font-family: 'Neuton';
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 14%;

    background: #971428;
    box-shadow: 0vw 0.5556vh 1.25vh #88170088;
    border-radius: 5.4688%/19.4445%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.frame_header a {
    width: 10vw;

    cursor: pointer;
    color: #971428;
    text-shadow: 0vw 0.111vh 0.5556vh #88170088;
    font-size: 3vw;
    text-align: center;

    text-decoration: none;
}

.frame_header a:hover {
    text-shadow: 0vw 0.111vh 0.5556vh #881700;
}

.move_down {
    grid-row: 1/2;
}

.move_up {
    grid-row: 3/4;
}

.second_window {
    width: 100vw;
    height: 96.6667vh;

    padding: 3.3334vh 2.8125vw;
    background-image: url("../Images/BG.png");
    background-size: 100% 100%;
    border-right: solid #1C463D;
    border-left: solid #1C463D;
    border-width: 0.1389vh 0.0781vw;
    display: flex;
}

.second_frame {

    
    border: solid #1C463D;
    border-width: 0.4167vh 0.0781vw;
    border-radius: 1.49%/2.7273%;
    display: grid;
    grid-template-columns: 2.8125vw repeat(16, 1fr) 2.8125vw;
    grid-template-rows: 3.3334vh repeat(8, 1fr) 3.3334vh;
}

.Navigation {
    grid-row: 5/7;

    align-self: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #1C463D;
    font-family: 'Neuton';
    font-weight: 400;
    font-size: 0.7vw;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.L_nav {
    grid-column-start: 1/2;

    justify-self: start;
}

.R_nav {
    grid-column: -1/-2;

    justify-self: end;
}