@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Neuton-ExtraBold.ttf") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Neuton-Bold.ttf") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Neuton-Regular.ttf") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Neuton-Light.ttf") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Neuton-ExtraLight.ttf") format("woff2");
    font-weight: 200;
}