#toggle {
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: -1;
}

#toggle:checked~dialog {
    display: block;
}

.FormLable {
    grid-column: 3/4;
    grid-row: 2/4;

    height: 25%;
    padding: 0% 2%;

    background-color: LightSalmon;
    border: solid 0.01vw;
    border-radius: 5% 5% / 25%;

    display: flex;
    justify-items: center;
    align-items: center;

}

dialog {
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    height: 25%;

    background-color: #000000;
    border-style: none;

    border-radius: 5%;

    animation: appear 350ms ease-in 1;
}

#Contact_Form {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
}

#closeButton {
    width: 100%;
    height: 10%;
    border-radius: 5% / 25% 25% 0% 0%;
    border-width: 0.1vw 0.1vw 0vw;

    background-color: LightSalmon;
}

#name_block {
    width: 100%;
    height: 10%;
    padding: 0% 2%;

    background-color: Cornsilk;

    border: solid #000;
    border-width: 0.1vw 0.1vw 0vw;
    z-index: 9;
}

#email_block {
    width: 100%;
    height: 10%;
    padding: 0% 2%;
  
    background-color: Cornsilk;

    border: solid #000;
    border-width: 0.1vw 0.1vw 0vw;
    z-index: 9;
}

#text_block {
    width: 100%;
    height: 50%;
    padding: 0% 2%;

    background-color: Cornsilk;

    border: 0.1vw solid #000;
    border-width: 0.1vw 0.1vw 0vw;
    z-index: 9;
}

#lastAlert{
    display: block;
    height: 10%;
    padding: 0% 2%;

    text-align: center;
    background-color: LightSalmon;

    border: 0.1vw solid #000;
    border-width: 0.1vw 0.1vw 0vw;
}

#button_block {
    width: 100%;
    height: 10%;
    padding: 0% 2%;

    background-color: LightSalmon;
    border: 0.1vw solid #000;
    border-radius: 0% 0% 5% 5% / 25%;
    z-index: 9;
}

#button_block:hover {
    background-color: darkred;
    color: cornsilk;
    border-color: cornsilk;
}

label:hover , #lastAlert:hover , #button_block:hover {
    background-color: darkred;
    color: cornsilk;
    border-color: cornsilk;
}